<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Title
  ================================================== -->
  <title>Katie Marries David</title>

  <!-- Google Fonts
  ================================================== -->
  <link href='css/fonts/Quicksand.css' rel='stylesheet' type='text/css'>
  <link href='css/fonts/Playfair.css' rel='stylesheet' type='text/css'>
  <link href='css/fonts/GreatVibes.css' rel='stylesheet' type='text/css'>

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/grid.css" media="all">
  <link rel="stylesheet" href="css/magnific-popup.css" media="all">
  <link rel="stylesheet" href="css/font-awesome.min.css" media="all">
  <link rel="stylesheet" href="css/animate.min.css" media="all">
  <link rel="stylesheet" href="css/flaticon.css" media="all">
  <link rel="stylesheet" href="css/style.css" media="all">
  <link id="colors" rel="stylesheet" href="css/colors/default.css" media="all">

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="images/elements/favicon.ico">
  <link rel="apple-touch-icon" href="images/elements/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/elements/apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="images/elements/apple-touch-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="images/elements/apple-touch-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="180x180" href="images/elements/apple-touch-icon-180x180.png"/>

  <!-- Load Main jQuery Files
  ================================================== -->
  <script src="js/jquery.min.js"></script>
  <script src="js/modernizr.js"></script>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <link rel="stylesheet" type="text/css" href="css/ie8.css"/>
  <![endif]-->

  <!--[if IE]>
  <link rel="stylesheet" type="text/css" href="css/ie.css"/>
  <![endif]-->
</head>

<body ng-controller="App as app">

<div class="loaderOverlay"><i class="fa fa-heart animate-spin"></i></div>
<!-- Hero Section -->
<div id="logo">Katie &amp; David</div>
<section id="top" class="hero" data-type="parallax">
  <header id="main-menu">
    <div class="container">
      <div class="row">
        <div id="menu-logo">K <span>&amp;</span> D</div>
        <nav id="navigation" class="column twelve">
          <ul>
            <li><a href="#logo">Home</a></li>
            <li><a href="#couple">Story</a></li>
            <li><a href="#wedding-events">Events</a></li>
            <li><a href="#important-people">People</a></li>
            <li><a href="#lodging">Lodging</a></li>
            <li><a href="#attractions">Attractions</a></li>
            <li><a href="#wedding-gallery">Gallery</a></li>
            <li><a href="#gift-registry">Gifts</a></li>
          </ul>
        </nav>
        <a href="#" id="menu-toggle-wrapper">
          <div id="menu-toggle"></div>
        </a>
      </div>
      <!-- close .ha-header-perspective -->
    </div>
    <!-- close grid container -->
  </header>
  <div class="overlay-dark"></div>
  <div class="container">
    <div class="hero-inner">
      <h1>We’re married!</h1>

      <div class="info">
        <span class="date">on 14 May 2016, Mobile, AL</span>
      </div>
      <a href="#couple" class="mouse scrollTo"><i class="fa fa-long-arrow-down"></i></a>
    </div>
  </div>
</section>
<!-- #Hero Section Ends -->

<section id="home-content" class="top-menu">

  <!-- Couple Images -->
  <section id="couple">
    <div class="overlay-dark"></div>
    <div class="hero-heart"></div>
    <div class="images">
      <div class="column six girl">
        <span class="fname">Katie</span>
        <span class="lname">Isbell</span>
      </div>
      <div class="column six boy">
        <span class="fname">David</span>
        <span class="lname">Zemon</span>
      </div>
    </div>
  </section>
  <!-- #Couple Images Ends -->

  <!-- Story Section -->
  <section id="story" class="pattern">
    <div class="container timeline">
      <span class="arrow-up"></span>
      <span class="arrow-down"></span>

      <div class="row">
        <div class="column six right">
          <h2 class="vibe">Bride’s story</h2>

          <div class="story">
            <p>Born in Mobile, AL to Debbie and Roy Isbell, Katie has always had a passion for technology, fitness
              and animals. Her musical career began with piano at age six and flourished through college,
              where she was first chair trumpet freshman year at Samford University. Sophomore year brought her to
              Missouri S&T, where she graduated magna cum laude with a B.S. in both Computer Science and
              Computer Engineering. She now works at Union Pacific Railroad as an Application Developer.</p>
          </div>
          <div class="social">
            <ul>
              <li>
                <a href="https://www.facebook.com/katie.isbell.33"><i class="fa fa-facebook"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="column six left">
          <h2 class="vibe">Groom’s story</h2>

          <div class="story">
            <p>David was born in St. Louis, MO to Bonnie Whitfield and Art Zemon.
              At a young age, he swam for the SCCY Stingrays under Mary O'Mara. He participated on the team
              year-round for nine years, at which point the team was like a second family to him.
              He is also a car enthusiast, specifically Volvo, Saab and Koenigsegg. In his spare time he enjoys
              developing low-level software. He earned his B.S in Computer Engineering at Missouri S&T and now works
              at Union Pacific Railroad.
            </p>
          </div>
          <div class="social">
            <ul>
              <li>
                <a href="https://www.facebook.com/david.zemon"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/dzemon"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twelve">
          <div class="box corner quote">
            <div class="corners-topleft"></div>
            <div class="corners-bottomleft"></div>
            <div class="corners-topright"></div>
            <div class="corners-bottomright"></div>
            <p>We met one cold, winter day in Dr. Stressful's class. It was boring, Katie was struggling, and David
              came to the rescue. With David's radiant smile and trusty laptop, we were able to
              escape Circuits 1 with GPAs unscathed. Our bond grew with time, and in the Spring of 2014, David gave
              Katie a shiny rock and Katie gave David a "Yes!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #Story Section Ends -->

  <!-- Parallax Section -->
  <section class="parallax" data-type="parallax">
    <div class="overlay"></div>
    <div class="container">
      <h2 class="quote">“With his radiant smile and trusty laptop, we were able to escape Circuits 1 with GPAs
        unscathed.”</h2>
    </div>
  </section>
  <!-- #Parallax Section Ends -->

  <!-- Wedding Events Section -->
  <section id="wedding-events" class="pattern">
    <header class="section-header">
      <h3 class="section-title">Wedding Events</h3>
    </header>
    <div class="container timeline">
      <span class="arrow-up"></span>
      <span class="arrow-down"></span>

      <div class="row">
        <div class="column six heart right">
          <div class="box center corner">
            <div class="corners-topleft"></div>
            <div class="corners-bottomleft"></div>
            <div class="corners-topright"></div>
            <div class="corners-bottomright"></div>
            <h2>Ceremony</h2>

            <div class="details">
              <img src="images/location/church.jpg"/>
              <span class="waddress">Ashland Place United Methodist Church</span>
              <span class="waddress">15 Wisteria Ave, Mobile, AL 36607</span>
              <span class="wdate">Saturday, 14 May 2016</span>
              <span class="wtime">4:00 PM</span>
            </div>
          </div>
        </div>
        <div class="column six heart left">
          <div class="box center corner">
            <div class="corners-topleft"></div>
            <div class="corners-bottomleft"></div>
            <div class="corners-topright"></div>
            <div class="corners-bottomright"></div>
            <h2>Reception</h2>
            <div class="details">
              <img src="images/location/oldHouse.jpg"/>
              <span class="waddress">910 Government St, Mobile, AL</span>
              <span class="wdate">Saturday, 14 May 2016</span>
              <span class="wtime">Immediately following ceremony</span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  <!-- #Wedding Events Section Ends -->

  <!-- #Map Section -->
  <section id="map-section" class="pattern">
    <div class="container">
      <div id="map-pins">
        <ul>
          <li class="wedding">Ceremony</li>
          <li class="weddingParty">Reception</li>
          <!--<li class="bachelor">Bachelor</li>-->
          <!--<li class="bachelorette">Bachelorette</li>-->
          <!--<li class="hotels">Hotels</li>-->
          <!--<li class="airport">Airport</li>-->
          <!--<li class="attractions">Attractions</li>-->
          <!--<li class="restoraunts">Restoraunts</li>-->
          <!--<li class="shopping">Shopping</li>-->
          <!--<li class="special">Special</li>-->
        </ul>
      </div>
    </div>
    <div class="container">
      <div id="map"></div>
    </div>
  </section>
  <!-- #Map Section Ends -->


  <!-- Important People Section -->
  <section id="important-people">
    <header class="section-header">
      <h3 class="section-title">Important People</h3>
    </header>
    <div class="container timeline">
      <span class="arrow-up"></span>
      <span class="arrow-down"></span>

      <div class="row">
        <div class="column six right">
          <h2 class="vibe">Bridesmaids</h2>

          <!-- Images -->
          <div class="people-image">
            <li>
              <img ng-class="{active: app.keeley}" ng-click="app.bridesmaid('keeley')"
                   src="images/important-people/keeley4.png" alt="keeley"/>
            </li>
            <li>
              <img ng-class="{active: app.mandy}" ng-click="app.bridesmaid('mandy')"
                   src="images/important-people/mandy3.jpg" alt="mandy"/>
            </li>
            <li>
              <img ng-class="{active: app.emily}" ng-click="app.bridesmaid('emily')"
                   src="images/important-people/emily7.png" alt="emily"/>
            </li>
          </div>

          <!--  Text -->
          <div id="keeley" ng-show="app.keeley">
            <h2>Keeley Kuhlmann</h2>

            <div class="story">
              <p>Keeley and Katie first met in Kindergarten and eventually became best friends in elementary school. They bonded over mutual friends and extracurricular activities, and have many fond memories of slumber parties, tree climbing, and Mardi Gras parades.  Keeley is glad to have kept in touch with Katie and is excited to be a part of the wedding as her maid of honor!</p>
            </div>
          </div>
          <div id="mandy" ng-show="app.mandy">
            <h2>Mandy Liu</h2>

            <div class="story">
              <p>Mandy met Katie freshman year at Samford University. They had practically every music class together. Mandy graduated with a Bachelor's degree in Piano and a Master's in Elementary Education. She taught for a year in China and now resides in Fort Worth, Texas working as a Children's Director. She is grateful for Katie's friendship and to have kept in touch, even being miles apart. Can't wait to celebrate!</p>
            </div>
          </div>
          <div id="emily" ng-show="app.emily">
            <h2>Emily Page</h2>

            <div class="story">
              <p>Emily and Katie met their freshman year at Samford University. They bonded over early morning
                breakfasts in the cafe and mutual friends. Emily is now a nurse at a hospital in Birmingham and has
                recently started back to school at the University of Alabama at Birmingham to obtain a master's degree
                in nursing. Emily is very honored and excited to be a part of Katie and David's big day!</p>
            </div>
          </div>
        </div>

        <div class="column six left">
          <h2 class="vibe">Groomsmen</h2>

          <!-- Images -->
          <div class="people-image">
            <li>
              <img ng-class="{active: app.kevin}" ng-click="app.groomsmen('kevin')"
                   src="images/important-people/kevin1.png" alt="kevin"/>
            </li>
            <li>
              <img ng-class="{active: app.matt}" ng-click="app.groomsmen('matt')"
                   src="images/important-people/matt2.png" alt="matt"/>
            </li>
            <li>
              <img ng-class="{active: app.adam}" ng-click="app.groomsmen('adam')"
                   src="images/important-people/adam.png" alt="adam"/>
            </li>
          </div>

          <!-- Text -->
          <div id="kevin" ng-show="app.kevin">
            <h2>Kevin Zemon</h2>

            <div class="story">
              <p>Kevin is the brother of the groom. While growing up, he was involved in scouting which culminated in his eagle award. He is currently finishing up his associates degree and is working at a children's psychiatric hospital.</p>
            </div>
          </div>
          <div id="matt" ng-show="app.matt">
            <h2>Matt Isbell</h2>

            <div class="story">
              <p>Matt is Katie's older brother.  After high school, he moved to Atlanta, where he studied liberal arts and industrial engineering.  He is now a program manager for an IT consulting firm and focuses on process improvement.  Matt congratulates Katie and David and looks forward to the celebration.</p>
            </div>
          </div>
          <div id="adam" ng-show="app.adam">
            <h2>Adam Holt</h2>

            <div class="story">
              <p>Adam met Katie at a family Memorial Day party five years ago and has joined the bride and groom on
                several family vacations. Adam grew up and currently lives in Atlanta where he is an analyst working
                in commercial real estate finance. Adam sends a big Mazel Tov to Katie and David on their wedding.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #Important People Section Ends -->


  <!-- #Lodging Section -->
  <section id="lodging" class="pattern">
    <header class="section-header">
      <h3 class="section-title">Lodging</h3>

      <p class="section-tagline">
        This is our list of suggested accommodations, all located near downtown Mobile.
        A discounted rate is available for Isbell-Zemon guests.
        Please make your reservations early as the hotels may get sold out.
      </p>
    </header>
    <div class="container">
      <ul class="small-box corner">
        <div class="lodging-image">
          <li>
            <a class="product" href="" ng-click="app.hotel('hiHotel')">
              <img src="images/lodging/transbackground/hi-hotel.png" alt="hiHotel" ng-class="{active: app.hiHotel}"></a>

            <div class="corners-topleft"></div>
            <div class="corners-bottomleft"></div>
            <div class="corners-topright"></div>
            <div class="corners-bottomright"></div>
          </li>
          <li>
            <a class="product" href="" ng-click="app.hotel('bhHotel')">
              <img src="images/lodging/transbackground/bh-hotel.png" alt="bhHotel" ng-class="{active: app.bhHotel}"/></a>

            <div class="corners-topleft"></div>
            <div class="corners-bottomleft"></div>
            <div class="corners-topright"></div>
            <div class="corners-bottomright"></div>
          </li>
          <li>
            <a class="product" href="" ng-click="app.hotel('asHotel')">
              <img src="images/lodging/transbackground/as-hotel.png"
                   alt="asHotel" ng-class="{active: app.asHotel}"></a>

            <div class="corners-topleft"></div>
            <div class="corners-bottomleft"></div>
            <div class="corners-topright"></div>
            <div class="corners-bottomright"></div>
          </li>
          <li>
            <a class="product" href="" ng-click="app.hotel('miHotel')">
              <img src="images/lodging/transbackground/mi-hotel.png" alt="miHotel" ng-class="{active: app.miHotel}"></a>

            <div class="corners-topleft"></div>
            <div class="corners-bottomleft"></div>
            <div class="corners-topright"></div>
            <div class="corners-bottomright"></div>
          </li>
        </div>
      </ul>


      <div id="hiHotel" ng-show="app.hiHotel">
        <h2>Hampton Inn & Suites</h2>

        <div class="story">
          <p>
            Price: $110-$139 per night. $9 parking per day. Breakfast included. <br>
            Rooms: 25 rooms reserved from May 12-15. Rooms reserved until April 29 <br>
            Group Code: IZW.<br>
            <a
            href="http://hamptoninn3.hilton.com/en/hotels/alabama/hampton-inn-and-suites-mobile-downtown-historic-district-MOBDTHX/index.html"
            target="_blank"
            data-filter="*">More information</a>
          </p>
        </div>
      </div>

      <div id="bhHotel2" ng-show="app.bhHotel">
        <h2>The Battle House Renaissance</h2>

        <div class="story">
          <p>
            Price: $149 per night. $19 valet parking per day <br>
            Rooms: 10 rooms reserved for May 12-15 <br>
            Group Code: <a
              href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Isbell/Zemon%20Wedding%20Room%20Block%5Emobbr%60izwizwa%60149.00%60USD%60false%604%605/12/16%605/15/16%604/17/16&app=resvlink&stop_mobi=yes"
              target="_blank"
              data-filter="*">Isbell/Zemon</a>.
            <br>
            <a
            href="http://www.marriott.com/hotels/travel/mobbr-the-battle-house-renaissance-mobile-hotel-and-spa/"
            target="_blank"
            data-filter="*">More information</a>
          </p>
        </div>
      </div>

      <div id="asHotel" ng-show="app.asHotel">
        <h2>The Admiral Semmes Hotel</h2>

        <div class="story">
          <p>
            Price: $115 per night. $10 parking per day <br>
            Rooms: 10 rooms reserved from May 12-15. Rooms reserved until April 12 <br>
            Group Code: IZW2016 <br>
            <a href="http://www.theadmiralhotel.com/" target="_blank" data-filter="*">More information</a>
          </p>
        </div>
      </div>

      <div id="miHotel" ng-show="app.miHotel">
        <h2>The Malaga Inn</h2>

        <div class="story">
          <p>
            Price: $115/142 for two. Parking and breakfast included. $10 per each addition person over 12 years of age.
            $225 for large suite with King bed <br>
            Rooms: 10 rooms reserved for May 12-15. Rooms reserved until March 30 <br>
            Group Code: Isbell/Zemon <br>
            <a href="http://malagainn.com/" target="_blank" data-filter="*">More information</a>
          </p>
        </div>
      </div>
    </div>

  </section>
  <!-- #Lodging Section Ends -->

  <!-- #Attractions Section -->
  <section id="attractions">
    <header class="section-header">
      <h3 class="section-title">Attractions</h3>
    </header>
    <div>
      <div class="container">
        <p class="section-tagline">
          Here are some activities we think you might enjoy while visiting Mobile.
        </p>
        <div class="row">
          <div class="col-md-6 text-center lodging-image col-xs-6">
            <h2>Museums</h2>
            <a target="_blank" href="http://www.ussalabama.com">Battleship Memorial Park</a> <br>
            <a target="_blank" href="http://gulfquest.org">GulfQuest Maritime Museum</a> <br>
            <a target="_blank" href="http://alabama.travel/road-trips/historic-house-museums-of-mobile">Historic House Museums</a> <br>
            <a target="_blank" href="http://www.mobilecarnivalmuseum.com">Mobile Carnival Museum</a> <br>
          </div>
          <div class="col-md-6 text-center lodging-image col-xs-6">
            <h2>Other Attractions</h2>
            <a target="_blank" href="https://www.facebook.com/LODAartwalk">LODA Art Walk</a> <br>
            <a target="_blank" href="http://bellingrath.org/">Bellingrath Gardens</a> <br>
            <a target="_blank" href="http://floatstyx.com/">Styx Rivers</a> <br>
            <a target="_blank" href="http://alabama.travel/experience-alabama/beaches">Beaches and Gulf Coast</a>
          </div>
        </div>
      </div>

    </div>

  </section>
  <!-- #Attractions Section Ends -->

  <!-- Small Gallery Section -->
  <section id="wedding-gallery" class="pattern">
    <header class="section-header">
      <h3 class="section-title">Photo Gallery</h3>

      <p class="section-tagline">Click any photo to enlarge.
        <br>Check back later for wedding and honeymoon photos.</p>
    </header>
    <div class="container">
      <div class="row">
        <ul id="gallery-filter">
          <li class="active">
            <a href="#" data-filter="*">All</a>
          </li>
          <li><a href="#" data-filter=".engagement">Engagement</a></li>
          <li><strike>Wedding</strike></li>
          <li><strike>Honeymoon</strike></li>
        </ul>
      </div>
    </div>

    <div id="gallery-wrapper">
      <div class="block engagement">
        <div class="image-holder">
          <img src="images/gallery/engagement/gardens/thumbs/DSC_0318_thumb.jpg">
        </div>
        <a href="images/gallery/engagement/gardens/DSC_0318.jpg" class="portfolio-hover"></a>
      </div>
      <div class="block engagement">
        <div class="image-holder">
          <img src="images/gallery/engagement/gardens/thumbs/DSC_0324_thumb.jpg">
        </div>
        <a href="images/gallery/engagement/gardens/DSC_0324.jpg" class="portfolio-hover"></a>
      </div>
      <div class="block engagement">
        <div class="image-holder">
          <img src="images/gallery/engagement/park/thumbs/DSC_0089_thumb.jpg">
        </div>
        <a href="images/gallery/engagement/park/atThePark.jpg" class="portfolio-hover"></a>
      </div>
      <div class="block engagement">
        <div class="image-holder">
          <img src="images/gallery/engagement/gardens/thumbs/DSC_0329_thumb.jpg">
        </div>
        <a href="images/gallery/engagement/gardens/DSC_0329.jpg" class="portfolio-hover"></a>
      </div>
      <div class="block engagement">
        <div class="image-holder">
          <img src="images/gallery/engagement/gardens/thumbs/DSC_0333_thumb.jpg">
        </div>
        <a href="images/gallery/engagement/gardens/DSC_0333.jpg" class="portfolio-hover"></a>
      </div>
      <div class="block engagement">
        <div class="image-holder">
          <img src="images/gallery/engagement/gardens/thumbs/DSC_0342_thumb.jpg">
        </div>
        <a href="images/gallery/engagement/gardens/DSC_0342.jpg" class="portfolio-hover"></a>
      </div>
      <div class="block engagement">
        <div class="image-holder">
          <img src="images/gallery/engagement/gardens/thumbs/DSC_0405_thumb.jpg">
        </div>
        <a href="images/gallery/engagement/gardens/DSC_0405.jpg" class="portfolio-hover"></a>
      </div>
      <div class="block engagement">
        <div class="image-holder">
          <img src="images/gallery/engagement/gardens/thumbs/DSC_0348_thumb.jpg">
        </div>
        <a href="images/gallery/engagement/gardens/DSC_0348.jpg" class="portfolio-hover"></a>
      </div>
      <div class="block engagement">
        <div class="image-holder">
          <img src="images/gallery/engagement/gardens/thumbs/DSC_0377_thumb.jpg">
        </div>
        <a href="images/gallery/engagement/gardens/DSC_0377.jpg" class="portfolio-hover"></a>
      </div>
      <div class="block engagement">
        <div class="image-holder">
          <img src="images/gallery/engagement/gardens/thumbs/DSC_0384_thumb.jpg">
        </div>
        <a href="images/gallery/engagement/gardens/DSC_0384.jpg" class="portfolio-hover"></a>
      </div>
      <div class="block engagement">
        <div class="image-holder">
          <img src="images/gallery/engagement/gardens/thumbs/DSC_0410_thumb.jpg">
        </div>
        <a href="images/gallery/engagement/gardens/DSC_0410.jpg" class="portfolio-hover"></a>
      </div>
      <div class="block engagement">
        <div class="image-holder">
          <img src="images/gallery/engagement/gardens/thumbs/DSC_0445_thumb.jpg">
        </div>
        <a href="images/gallery/engagement/gardens/DSC_0445.jpg" class="portfolio-hover"></a>
      </div>
    </div>
  </section>
  <!-- #Small Gallery Section Ends -->

  <!-- Gift Registry Section -->
  <section id="gift-registry" class="pattern">
    <header class="section-header">
      <h3 class="section-title">Gift Registry</h3>

      <p class="section-tagline">What we want most is to have our friends and family there to celebrate the occasion
        with us. If you would also like to get us something, you can find suggestions here.</p>
    </header>
    <div class="container">
      <ul class="small-box corner">
        <li style="width: 320px">
          <a class="product" href="https://www.myregistry.com/wedding-registry/David-Zemon-Katie-Isbell-Omaha-NE/956713"
             target="_blank">
            <img src="images/gifts/registry-myregistry.gif" alt="Amazon Registry"></a>
          <div class="corners-topleft"></div>
          <div class="corners-bottomleft"></div>
          <div class="corners-topright"></div>
          <div class="corners-bottomright"></div>
        </li>
      </ul>
    </div>

    <p class="section-tagline">Please send any gifts to our home in Omaha
      as we won't be able to bring them with us from Mobile.</p>
  </section>
  <!-- #Gift Registry Section Ends -->

  <!-- Footer Section -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="column twelve logo">K &amp; D</div>
      </div>
    </div>
  </footer>
  <!-- / Footer Section Ends -->
</section>

<!-- JavaScript Files - These ones are in footer
================================================== -->
<script src="js/device.min.js"></script>
<script src="js/imagesloaded.pkgd.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/isotope.js"></script>
<script src="js/jquery.isotope.sloppy-masonry.min.js"></script>
<script src="js/jquery.parallax.min.js"></script>
<script src="js/jquery.scrollTo.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.mb.YTPlayer.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.soc-share.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>
<script src="js/custom.js"></script>
<script>
  var markers = [
    ['Ashland Place United Methodist Church, Mobile, AL', 30.687764, -88.094715, 'wedding',
      '15 Westeria Ave, Mobile AL 36607'],
    ['910 Government St, Mobile, AL', 30.686257, -88.054926, 'weddingParty', '']
  ];
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70378233-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
