<div class="container">
  <div ng-show="details.loading">
    <h1>Patience please! It's loading...</h1>
  </div>

  <div ng-hide="details.loading">
    <h1>Guest Details ({{ details.guestListId }})</h1>

    <form class="form-group">
      <!-- Salutation -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="salutation">Salutation</label>
          <input class="form-control" id="salutation" ng-model="details.guest.salutation" type="text">
        </div>
      </div>

      <br/>

      <!-- Last name -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="lastName">Last Name</label>
          <input class="form-control" id="lastName" ng-model="details.guest.lastName" type="text">
        </div>
      </div>

      <br/>

      <!-- Guest names -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="guestNames">Guest Names</label>
          <input class="form-control" id="guestNames" ng-model="details.guest.guestNames" type="text">
        </div>
      </div>

      <br/>

      <!-- Street -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="street">Street</label>
          <input class="form-control" id="street" ng-model="details.guest.street" type="text">
        </div>
      </div>

      <br/>

      <!-- City -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="city">City</label>
          <input class="form-control" id="city" ng-model="details.guest.city" type="text">
        </div>
      </div>

      <br/>

      <!-- State -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="state">State</label>
          <input class="form-control" id="state" ng-model="details.guest.state" type="text">
        </div>
      </div>

      <br/>

      <!-- Zip -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="zip">Zip Code</label>
          <input class="form-control" id="zip" ng-model="details.guest.zip" type="text">
        </div>
      </div>

      <br/>

      <!-- Count -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="count">Count</label>
          <input class="form-control" id="count" ng-model="details.guest.count" type="text">
        </div>
      </div>

      <br/>

      <!-- Going -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="going">Going</label>
          <select class="form-control" id="going" ng-model="details.guest.going">
            <option value="{{ null }}">Don't know</option>
            <option value="{{ true }}">Going</option>
            <option value="{{ false }}">Not going</option>
          </select>
        </div>
      </div>

      <br/>

      <!-- RSVP Received -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="rsvped">RSVP Received</label>
          <input class="form-control" id="rsvped" ng-model="details.guest.rsvpReceived" type="checkbox">
        </div>
      </div>

      <br/>

      <!-- Attending for -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="attendingFor">Attending For</label>
          <input class="form-control" id="attendingFor" ng-model="details.guest.attendingFor" type="text">
        </div>
      </div>

      <br/>

      <!-- Relation -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="relation">Relation</label>
          <input class="form-control" id="relation" ng-model="details.guest.relation" type="text">
        </div>
      </div>

      <br/>

      <!-- Created by -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="createdBy">Created By</label>
          <input class="form-control" id="createdBy" ng-model="details.guest.createdBy" type="text" ng-disabled="true">
        </div>
      </div>

      <br/>

      <!-- Created Date -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="createdDate">Created By</label>
          <input class="form-control" id="createdDate" ng-model="details.guest.createdDate * 1000 | date " type="text"
                 ng-disabled="true">
        </div>
      </div>

      <br/>

      <!-- Last Updated By -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="lastUpdatedBy">Last Updated By</label>
          <input class="form-control" id="lastUpdatedBy" ng-model="details.guest.lastUpdatedBy" type="text"
                 ng-disabled="true">
        </div>
      </div>

      <br/>

      <!-- Last Updated Date -->
      <div class="row">
        <div class="input-group">
          <label class="input-group-addon" for="lastUpdatedDate">Last Updated Date</label>
          <input class="form-control" id="lastUpdatedDate" ng-model="details.guest.lastUpdatedDate * 1000 | date"
                 type="text"
                 ng-disabled="true">
        </div>
      </div>

      <br/>

      <div class="row">
        <button class="btn btn-primary" type="submit" ng-click="details.save()">Save</button>
      </div>
    </form>
  </div>
</div>
