<!DOCTYPE html>
<html lang="en" ng-app="admin">
  <head>
    <meta charset="utf-8">
    <title>KatieMarriesDavid.com Admin Area</title>

    <!--*****************--
      --**** NOTE *******--
      --*****************--
      Use the following link to learn about the bootstrap theme: http://getbootstrap.com/examples/theme/ -->

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="admin.js"></script>
  </head>
  <body ng-controller="AdminCtrl as admin">
    <div class="container">
      <h1>Statistics</h1>

      <div class="row">
        <table class="table table-striped table-hover col-lg-3 col-md-6 col-sm-12">
          <thead>
            <tr>
              <th>Statistic</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>David's Guests Invited</td>
              <td>{{ admin.davidsGuestsInvited }}</td>
            </tr>
            <tr>
              <td>Katie's Guests Invited</td>
              <td>{{ admin.katiesGuestsInvited }}</td>
            </tr>
            <tr>
              <td>Total Guests Invited</td>
              <td>{{ admin.davidsGuestsInvited + admin.katiesGuestsInvited }}</td>
            </tr>
            <tr>
              <td>David's Guests Attending</td>
              <td>{{ admin.davidsGuestsAttending }}</td>
            </tr>
            <tr>
              <td>Katie's Guests Attending</td>
              <td>{{ admin.katiesGuestsAttending }}</td>
            </tr>
            <tr>
              <td>Total Guests Attending</td>
              <td>{{ admin.davidsGuestsAttending + admin.katiesGuestsAttending }}</td>
            </tr>
            <tr>
              <td>RSVPs Received</td>
              <td>{{ admin.rsvpsReceived }}</td>
            </tr>
            <tr>
              <td>RSVPs Not Received</td>
              <td>{{ admin.rsvpsNotReceived }}</td>
            </tr>
            <tr>
              <td>RSVPs Received (%)</td>
              <td>{{ admin.rsvpsReceived * 100 / (admin.rsvpsReceived + admin.rsvpsNotReceived ) | number : 0 }}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h1>Data</h1>

    <div class="container">
      <form>
        <h2>Filter</h2>

        <div class="row">
          <label class="col-md-3" for="filter">Attending For</label>
          <input class="col-md-3" id="filter" ng-model="admin.filter.attendingFor" type="text">
        </div>
        <div class="row">
          <label class="col-md-3" for="relation">Relation</label>
          <input class="col-md-3" id="relation" ng-model="admin.filter.relation" type="text">
        </div>
        <div class="row">
          <label class="col-md-3" for="lastName">Last Name</label>
          <input class="col-md-3" id="lastName" ng-model="admin.filter.lastName" type="text">
        </div>
        <div class="row">
          <label class="col-md-3" for="going">going</label>
          <select class="col-md-3" id="going" ng-model="admin.filter.going">
            <option ng-selected="true" value="{{ null }}">Don't care</option>
            <option value="{{ true }}">Going</option>
            <option value="{{ false }}">Not going</option>
          </select>
        </div>
      </form>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th ng-click="admin.setSort('salutation')">Salutation</th>
          <th ng-click="admin.setSort('lastName')">Last Name</th>
          <th ng-click="admin.setSort('insideEnvelope')">Inside Envelope</th>
          <th ng-click="admin.setSort('guestNames')">Guest Names</th>
          <th ng-click="admin.setSort('street')">Street</th>
          <th ng-click="admin.setSort('city')">City</th>
          <th ng-click="admin.setSort('state')">State</th>
          <th ng-click="admin.setSort('zip')">Zip Code</th>
          <th ng-click="admin.setSort('count')">Count</th>
          <th>Going?</th>
          <th>RSVP Received</th>
          <th ng-click="admin.setSort('attendingFor')">Attending For</th>
          <th ng-click="admin.setSort('relation')">Relation</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="guest in admin.guests | orderBy:admin.sortType:admin.sortReverse | filter:admin.filter"
            ng-click="admin.alert(guest)">
          <td>{{ guest.salutation | capitalize:true }}</td>
          <td>{{ guest.lastName | capitalize:true }}</td>
          <td>{{ guest.insideEnvelope | capitalize:true }}</td>
          <td>{{ guest.guestNames | capitalize:true }}</td>
          <td>{{ guest.street | capitalize:true }}</td>
          <td>{{ guest.city | capitalize:true }}</td>
          <td>{{ guest.state | uppercase }}</td>
          <td>{{ guest.zip }}</td>
          <td>{{ guest.count }}</td>
          <td><input type="checkbox" ng-model="guest.going"></td>
          <td><input type="checkbox" ng-model="guest.rsvpReceived"></td>
          <td>{{ guest.attendingFor | capitalize:true }}</td>
          <td>{{ guest.relation | capitalize:true }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
