<div class="container">
  <h1>Add new guest</h1>

  <form class="form-group" name="form">
    <!-- Salutation -->
    <div class="row">
      <div class="input-group">
        <label class="input-group-addon" for="salutation">Salutation</label>
        <input required class="form-control" id="salutation" ng-model="new.guest.salutation" type="text"
               placeholder="Mr. & Mrs. John Doe">
      </div>
    </div>

    <br/>

    <!-- Last name -->
    <div class="row">
      <div class="input-group">
        <label class="input-group-addon" for="lastName">Last Name</label>
        <input required class="form-control" id="lastName" ng-model="new.guest.lastName" type="text" placeholder="Doe">
      </div>
    </div>

    <br/>

    <!-- Guest names -->
    <div class="row">
      <div class="input-group">
        <label class="input-group-addon" for="guestNames">Guest Names</label>
        <input required class="form-control" id="guestNames" ng-model="new.guest.guestNames" type="text"
               placeholder="John, Jane">
      </div>
    </div>

    <br/>

    <!-- Street -->
    <div class="row">
      <div class="input-group">
        <label class="input-group-addon" for="street">Street</label>
        <input required class="form-control" id="street" ng-model="new.guest.street" type="text"
               placeholder="123 Cherry St">
      </div>
    </div>

    <br/>

    <!-- Street 2 -->
    <div class="row">
      <div class="input-group">
        <label class="input-group-addon" for="street2">Street Line 2</label>
        <input class="form-control" id="street2" ng-model="new.guest.streetLine2" type="text"
               placeholder="Apt 2">
      </div>
    </div>

    <br/>

    <!-- City -->
    <div class="row">
      <div class="input-group">
        <label class="input-group-addon" for="city">City</label>
        <input required class="form-control" id="city" ng-model="new.guest.city" type="text" placeholder="Omaha">
      </div>
    </div>

    <br/>

    <!-- State -->
    <div class="row">
      <div class="input-group">
        <label class="input-group-addon" for="state">State</label>
        <input class="form-control" id="state" ng-model="new.guest.state" type="text" placeholder="NE"
               ng-pattern="/^[A-Z]{2}$/" ng-required="!new.guest.country">
      </div>
    </div>

    <br/>

    <!-- Zip -->
    <div class="row">
      <div class="input-group">
        <label class="input-group-addon" for="zip">Zip Code</label>
        <input required class="form-control" id="zip" ng-model="new.guest.zip" type="text"
               placeholder="68107" ng-pattern="/^\d{5}$/">
      </div>
    </div>

    <br/>

    <!-- Country -->
    <div class="row">
      <div class="input-group">
        <label class="input-group-addon" for="country">Country</label>
        <input ng-required="!new.guest.state || 'USA' === new.guest.country" class="form-control" id="country"
               ng-model="new.guest.country" type="text" placeholder="USA">
      </div>
    </div>

    <br/>

    <!-- Count -->
    <div class="row">
      <div class="input-group">
        <label class="input-group-addon" for="count">Count</label>
        <input required class="form-control" id="count" ng-model="new.guest.count" type="number" min="1"
               placeholder="2">
      </div>
    </div>

    <br/>

    <!-- Attending for -->
    <div class="row">
      <div class="input-group">
        <label class="input-group-addon" for="attendingFor">Attending For</label>
        <select required class="form-control" id="attendingFor" ng-model="new.guest.attendingFor">
          <option>KATIE</option>
          <option>DAVID</option>
        </select>
      </div>
    </div>

    <br/>

    <!-- Relation -->
    <div class="row">
      <div class="input-group">
        <label class="input-group-addon" for="relation">Relation</label>
        <select required class="form-control" id="relation" ng-model="new.guest.relation">
          <option ng-repeat="relation in new.relations">{{relation}}</option>
        </select>
      </div>
    </div>

    <br/>

    <div class="row">
      <button class="btn btn-primary" type="submit" ng-disabled="!form.$valid" ng-click="new.create()">Save</button>
    </div>
  </form>
</div>
